@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import "tailwindcss";

@theme {
  --color-aurora-red: #d32f2f;
  --color-aurora-red-dark: #b71c1c;
  --font-family-heading: 'Georgia', serif;
  --font-family-sans: 'Lato', sans-serif;
}

body {
  font-family: 'Lato', sans-serif;
}
